
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(135deg, rgb(0, 83, 198) 0%, rgb(1, 38, 184) 25%, rgba(0, 76, 187, 1) 61%, rgba(0, 142, 255, 1) 100%);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

canvas {
    display: block;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #0056b3;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    margin: 10px;
    width: 300px;
    height: auto;
}
